.navbar-collapse {
  flex-grow: 0;
}

.btn {
  border-radius: 1.5em;
}

.btn-primary {
  color: #6202EE !important;
}

.btn-primary.active {
  background-color: #6202EE !important;
  color: #fff !important;
}

.badge {
  color: #7C1EFB;
  background-color: #E8DCF9 !important;
}

a, a:hover {
  color: #6202EE;
}

.absolute {
  position: absolute;
  margin-top: -1.1em;
  right: 0;
}

main {
  flex-grow: 1;
}

body {
  height: 100vh;
  background-color: #fff;
}
footer {
  padding-bottom: 2em;
}

.breadcrumb {
  background-color: #ffff;
}

.text-primary {
  color: #6202EE !important;
}

.bmd-btn-fab.custom-file-control::before, .btn.bmd-btn-fab {
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
}

.bmd-btn-fab.custom-file-control::before, .bmd-btn-icon.custom-file-control::before, .btn.bmd-btn-fab, .btn.bmd-btn-icon {
	font-size: 1rem;
}

.form-check-label {
  font-size: 0.9em;
}


.nav-breadcrumb{
  background-color: #fafafa !important;
}

.btn-secondary{ 
  background-color: rgba(0, 0, 0, 0.06) !important;
  font-weight: normal;
  color: black !important;
}

.btn-secondary.active {
  background-color: lightgray !important;
  color:  #7F22FD !important;  
}

.box-time{
  border-radius: 0.5em;
  border: 1px solid rgba(78, 73, 87, 1) ;
  width: 5em;
  text-align: center;
  align-self: center;
}

.box-time-parent {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5em;
}

.box-time-parent:hover {
  background-color: rgba(242, 231, 254, 1);
}