.navbar-collapse {
  flex-grow: 0;
}



.btn {
  border-radius: 1.5em;
}

.btn-primary {
  color: #6202EE !important;
}

.btn-primary.active {
  background-color: #6202EE !important;
  color: #fff !important;
}

.badge-primary {
  color: #7C1EFB;
  background-color: #E8DCF9 !important;
}

a, a:hover {
  color: #6202EE;
}

.absolute {
  position: absolute;
  margin-top: -1.1em;
  right: 0;
}

main {
  flex-grow: 1;
}

body {
  height: 100vh;
  background-color: #fff;
}
footer {
  padding-bottom: 2em;
}

.breadcrumb {
  background-color: #ffff;
}

.text-primary {
  color: #6202EE !important;
}

.bmd-btn-fab.custom-file-control::before, .btn.bmd-btn-fab {
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
}

.bmd-btn-fab.custom-file-control::before, .bmd-btn-icon.custom-file-control::before, .btn.bmd-btn-fab, .btn.bmd-btn-icon {
	font-size: 1rem;
}

.form-check-label {
  font-size: 0.9em;
}


.btn-secondary{ 
  background-color: rgba(0, 0, 0, 0.06) !important;
  font-weight: normal;
  color: black !important;
}

.btn-secondary.active {
  background-color: lightgray !important;
  color:  #7F22FD !important;  
}

.box-time{
  border-radius: 0.5em;
  border: 2px solid #6c757d ;
  width: 5em;
  text-align: center;
  align-self: center;
}

.box-time-parent {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5em;
}

.box-time-parent:hover {
  background-color: rgba(242, 231, 254, 1);
}

h1 {
 font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

input::placeholder {
  text-indent: -1000000px;
  opacity: 0;

}

.gj-textbox-md {
  padding-bottom: 0.35em;
  padding-top: 0.5em;
}

a:focus, button:focus {
  outline: 5px solid blue !important;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
	background-image: linear-gradient(0deg,#6202EE 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}


.is-focused [class*=" bmd-label"], .is-focused [class^="bmd-label"] {
	color: #6202EE;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  color: #fff;
  background: #6202EE !important;
  border-radius: 50%;
}

.gj-picker-md table tr td.today div {
  color: #6202EE;
}

.gj-picker-md table tr td.gj-cursor-pointer div:hover {
  background: #E8DCF9 !important;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.87);
}

button.selectable.selected {
  background-color: #E8DCF9 !important;
  color: #7C1EFB;
}

.horario-agendamento {
  text-decoration: none !important;
  font-weight: bold;
  color: #6c757d;
}

.horario-agendamento.selected {
  background-color: #ba96ed;
  color: white;
}

.horario-agendamento.selected > .box-time {
  border: 2px solid rgba(255, 255, 255, 1);
}

#horarios > a.selected > div > span,
#horarios > a.selected > p {
  color: white !important;
}
