.navbar-collapse {
  flex-grow: 0;
}

.btn {
  border-radius: 1.5em;
}

.btn-primary {
  color: #6202EE !important;
}

.btn-primary.active {
  background-color: #6202EE !important;
  color: #fff !important;
}

a, a:hover {
  color: #6202EE;
}

.absolute {
  position: absolute;
  margin-top: -1.1em;
  right: 0;
}

main {
  flex-grow: 1;
}

body {
  height: 100vh;
}

.breadcrumb {
  background-color: #fafafa;
}

.text-primary {
  color: #6202EE !important;
}

.bmd-btn-fab.custom-file-control::before, .btn.bmd-btn-fab {
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
}

.bmd-btn-fab.custom-file-control::before, .bmd-btn-icon.custom-file-control::before, .btn.bmd-btn-fab, .btn.bmd-btn-icon {
	font-size: 1rem;
}